*{
	box-sizing: border-box;
}

body{
	margin:1;
}

h1{
	color:blue ;
}

.header{

    color:black;
	background-color: yellow;
	padding: 30px;
	text-align: center;
	background-image: url("images.jpg");
}

.topnav{
     overflow: hidden;
     background-color:black;
}

.topnav a{
	float: left;
	display: block;
	color:#f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover{
	background-color: #ddd;
	color: black;

}

.column{
	float: left;
	width: 25%;
	padding: 15px;
}

